<p>home works!</p>
<!-- The video -->
<video autoplay muted loop id="myVideo">
    <!-- src\assets\videoplayback.mp4 -->
    <source src="\assets\videonew.mp4" type="video/mp4">
  </video>
  
  <!-- Optional: some overlay text to describe the video -->
  <div class="content">
    <h1>Welcome to Food Ordering System</h1>
    <p>An online food ordering system can be defined as software that allows restaurant businesses to accept and manage orders placed over the internet. ... First is a website or mobile app for hungry customers to view the restaurant's dishes and place an online order</p>
    <!-- Use a button to pause/play the video with JavaScript -->
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
            <a class="nav-link"  routerLink="/menu" routerLinkActive="active">See Menu>>>><span class="sr-only">(current)</span></a>
        </li>
    </ul>
  </div>
